<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../common/head.ejs %>
		<title>Let's Remin Daniel - Record</title>
		<style>
			table {
				margin-left: auto;
				margin-right: auto;
			}
			td {
				padding: 10px;
			}
			.removed {
				background: #d65;
			}

			.id {
				display: none;
			}
		</style>
	</head>
	<body>
		<% include ../common/nav.ejs %>
		<main>
			<h1>Admin</h1>
			<table>
				<tr class="title">
					<td class="Content">content</td>
					<td class="Comment">content</td>
					<td class="Author">author</td>
					<td class="Remove">remove</td>
				</tr>
				<tbody>
					<% for(let i in data){ %>
					<tr id="<%= i %>">
							<td class="content"><%= data[i].content %></td>
							<td class="comment">
								<button class="edit-comment">
									<%= data[i].comment || 'click to edit' %>
								</button>
							</td>
							<td class="author"><%= data[i].author %></td>
							<td class="remove"><button class="remove">X</button></td>
							<td class="id"><%= data[i].id %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
			<form action="/admin/record", method="post">
				<input name="data" id="data" type="hidden">
				<input name="modify" id="modify" type="hidden">
				<div class="form-bottom">
					<button tyle="submit">Submit</button>
				</div>
			</form>
		
		</main>
		
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/admin.js"></script>
	</body>
</html>
